* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  place-items: center;
}

.main_container {
  width: 600px;
  margin: 40px;

  padding: 40px;
  border-radius: 10px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(26.5px);
  border: 1px solid rgba(255, 255, 255, 0.486);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: orange;
}

img {
  display: block;
  margin: 20px auto;
}

a {
  color: orange;
}
